<div id="<%= "message_#{message.id}" %>">
  <div>
    Author: <%= message.author.email %>
  </div>
  <% if message.author == current_user %>
    <div>
      <%= link_to "Edit", edit_message_path(message) %>
      <%= link_to "Delete", message, :method => :delete %>
    </div>
  <% end -%>
  <div>
    <%= message.content %>
  </div>
  <div>
    <div>
      <%= link_to "Reply", new_message_reply_path(message) if user_signed_in? %>
    </div>
    <div id="<%= "message_#{message.id}" %>_replies_container">
      <%= render :partial => "/replies/reply", :collection => message.replies, :locals => {:message => message} %>
    </div>
  </div>
</div>